.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  font-family: 'Lobster', cursive;
overflow: hidden;}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.error {
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px orangered;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
